@import "../themes.scss/classic_theme";

$border-radius: 5px;
$box-shadow: 10px;

.wrapper {
  width: $card-width;
  height: $card-height;

  margin: 5px;
  border: 1px solid #f7e3cb;
  border-radius: $border-radius;
  box-shadow: 0 $box-shadow $box-shadow 0 rgba(black, 0.1);

  content: "";
  background-position: center;
  background-size: cover;
  background-image: url("./assets/australia.svg");

  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 0.5s;

  &--flipped {
    &-wombat {
      background-image: url("./assets/wombat.jpg");
    }

    &-wombat_2 {
      background-image: url("./assets/wombat_2.jpg");
    }

    &-cuscus {
      background-image: url("./assets/cuscus.jpg");
    }

    &-echidna {
      background-image: url("./assets/echidna.jpg");
    }

    &-koala {
      background-image: url("./assets/koala.jpg");
    }

    &-numbat {
      background-image: url("./assets/numbat.jpg");
    }

    &-phascogale {
      background-image: url("./assets/phascogale.jpg");
    }

    &-quoll {
      background-image: url("./assets/quoll.jpg");
    }

    &-thylacinus {
      background-image: url("./assets/thylacinus.jpg");
    }

    background-size: $card-width * 1.05;
    transform: rotateY(180deg) scale(1.03);
    transform-style: preserve-3d;
    transition: 0.5s;

    &--cleared {
      opacity: 1;

      animation: fadeIn 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeIn {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
