@import "../themes.scss/classic_theme";

$border-radius: 5px;
$box-shadow: 10px;

.wrapper {
  width: $card-width;
  height: $card-height;
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: $border-radius;
  box-shadow: 0 $box-shadow $box-shadow 0 rgba(black, 0.1);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 0.5s;

  &--flipped {
    background-color: grey;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.5s;

    &--cleared {
      opacity: 1;

      animation: fadeIn 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;

      @keyframes fadeIn {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
