@import "../themes.scss/classic_theme";

$border-radius: 5px;
$box-shadow: 10px;

.wrapper {
  width: $card-width;
  height: $card-height;
  border: 1px solid lightgrey;
  border-radius: $border-radius;
  box-shadow: 0 $box-shadow $box-shadow 0 rgba(black, 0.1);

  &--flipped {
    background-color: grey;
  }

  &--cleared {
    visibility: hidden;
  }

  &:hover {
    cursor: pointer;
  }
}
