@import "../themes.scss/classic_theme";

.wrapper {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
